    body {
        margin: 0;
        background-color: rgba(237, 245, 255, 0.742);
    }

    /* login & navigatie */

    #logo {
        width: 5%;
        border-radius: 50px;
    }

    .top-balk {
        width: 100%;
        height: 60px;
        background-color: #2c3e50;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        /* justify-content: center;       Om de navbar in het midden te plaatsen*/
    }

    .woorden {
        color: white;
        font-family: Arial, sans-serif;
        font-size: 18px;
        list-style: none;
        display: flex;
        gap: 20px;
        padding: 10px;
        margin: 0;
        flex-wrap: wrap;
    }

    .woorden a {
        color: white;
        text-decoration: none;
        white-space: nowrap;
    }

    .woorden a:hover {
        text-decoration: underline;
    }

    #header-index {
        background-color: #2c3e50;
        color: white;
        padding: 15px;
        text-align: center;
    }

    #header-index h1 {
        margin: 0 15px;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70vh;
    }

    .login-box {
        background-color: #e9e6e6;
        padding: 30px;
        width: 300px;
        border-radius: 15px;
        align-items: center;
    }

    .login-box img {
        display: block;
        margin: 0 auto 15px auto;
        border-radius: 20px;

    }

    .login-box h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .login-box input {

        width: 93%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .login-box a {
        display: block;
        padding: 10px;
        background-color: #3e98f1;
        color: white;
        text-align: center;
        text-decoration: none;
        border-radius: 4px;
    }




    /* product inventaris */
    #h1-product {
        text-align: center;
        color: #333;
    }

    .search-container {
        text-align: center;
        margin-bottom: 20px;
    }

    #search {
        padding: 10px;
        width: 350px;
        border-radius: 4px;
    }

    .product-row {
        display: flex;
        flex-wrap: wrap;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 15px;
        align-items: center;
    }

    .product-row div {
        flex: 1 1 120px;
        min-width: 100px;
        padding: 15px 10px;
    }

    .header div {
        font-weight: bold;
        background-color: #4e7aa5;
        padding: 1%;
        color: white;
    }

    .actions {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }

    .product-toevoegen-container {
        text-align: center;
    }

    .product-toevoegen-btn {
        display: inline-block;
        padding: 10px 20px;
        margin-top: 10px;
        background-color: #4e7aa5;
        color: white;
        text-decoration: none;
        border-radius: 15px;
    }


    /* product toevoegen / bewerken */
    form {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        max-width: 500px;
        margin: 0 auto;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    label {
        display: block;
        margin-top: 15px;
        font-weight: bold;
    }

    input[type="text"],
    input[type="number"],
    select,
    textarea {
        width: 100%;
        padding: 8px;
        margin-top: 5px;
        border-radius: 4px;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    button {
        margin-top: 20px;
        padding: 10px 15px;
        background-color: #2859a7;
        color: white;
        border: none;
        border-radius: 4px;
    }

    #h1toevoegen {
        text-align: center;
        margin-top: 100px;
    }

    /*footer*/

    footer {
        background-color: #2c3e50;
        color: white;
        text-align: center;
        padding: 10px;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    .footer-bottom a {
        color: white;
        text-decoration: none;
        margin: 0 5px;
    }